<!--
SPDX-FileCopyrightText: 2021 Hermine-team <hermine@inno3.fr>
SPDX-FileCopyrightText: 2022 Martin Delabre <gitlab.com/delabre.martin>

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "cube/cube.html" %}
{% load cube_tags %}
{% block title %}Component{{ object.name }} {% endblock %}

{% block breadcrumbs %}
  <ul>
    <li><a href="{% url 'cube:dashboard' %}">Hermine</a></li>
    <li><a href="{% url 'cube:component_list' %}">Components</a></li>
    <li>{{ object.name }}</li>
  </ul>
{% endblock %}

{% block actions %}
  {% if perms.cube.change_component %}
    <a class="button" href="{% url "cube:component_update" object.id %}" target="_blank">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
      <span>Edit this component</span>
    </a>
  {% endif %}
{% endblock %}

{% block herozone %}
  <div class="hero-body">
    <p class="title">{{ object.name }}</p>
  </div>
{% endblock %}

{% block infoitem %}
  <p class="subtitle" style="text-transform: uppercase;">
    <span class="icon is-medium">
      <i class="fas fa-puzzle-piece"></i>
    </span>
    Component
  </p>
{% endblock %}

{% block content %}
  <section class="card">
    <header class="card-header">
      <p class="card-header-title"><span class="icon"><i class="fas fa-info-circle"></i></span>
        Metadata for the component</p>
    </header>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <p><b>Package type:</b> {{ object.purl_type }}</p>
          <p><b>Description:</b></p>
          {{ object.description|default:"<em>No description</em>"|linebreaks }}
        </div>
        <div class="column">
          <p><span class="icon"><i class="fas fa-home"></i></span>Project home page:
            {% if object.homepage_url and object.homepage_url != 'NOASSERTION' %}
              <a target="_blank" href="{{ object.homepage_url }}"> {{ object.homepage_url }}</a>
            {% endif %}
          </p>
          {% if perms.cube.change_component %}
            <p><a href="{% url 'cube:component_update_funding' object.id %}">Get/update funding info</a></p>
          {% endif %}
          {% if object.fundings.all %}
            <p>You can fund this project that you rely on: </p>
            {% for funding in object.fundings.all %}
              <p><i class="fas fa-money-check-alt"></i> <a target="_blank" href="{{funding.url}}">{{funding.url|truncatechars:45 }}</a> </p>
            {% endfor%}
          {% endif%}
        </div>
      </div>
    </div>
  </section>



  <h2>Versions</h2>
  {% for version in object.versions.all %}
    <h3>{{ object.name }} : {{ version.version_number }} <a title="Edit this version" href="{% url 'admin:cube_version_change' version.id %}" target="_blank"><span class="icon"><i class="fas fa-edit"></i></span></a></h3>
    <p><strong><span class="icon"><i class="fas fa-balance-scale"></i></span>License expression:</strong>
      {% if version.corrected_license%}
        {{version.corrected_license}} (corrected from {{ version.spdx_valid_license_expr }})
      {% else %}
        {{version.spdx_valid_license_expr}}
      {% endif %}
      {% if version.spdx_valid_license_expr != version.declared_license_expr %}
        (declared License expression was {{ version.declared_license_expr }})
      {% endif %}.
      {% if version.license_is_ambiguous %}
        <br>❌ License expression is ambiguous, corrected license needs to be specified
      {% endif %}
      <strong>PURL : </strong> {{version.purl}}</p>
    <p>This version is used in the following releases of your products:</p>
    <ul>
      {% for usage in version.usage_set.all %}
        <li><a href="{% url 'cube:release_summary' usage.release.id %}"> <strong>{{ usage.release.product.name }}</strong> : {{ usage.release.release_number }} ({{ usage.project }}/ {{ usage.scope }})</a> </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}



